<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postin -
        <%= post.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./partials/resources'); -%>
</head>

<body>
    <%- include('./partials/header'); -%>
    <div class="container">
        <div class="row post postSingle">
            <div class="col s12 m12">

                <!-- Post Section -->
                <div class="card #f5f5f5 grey lighten-4">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s2 m1">
                                <% if (typeof user == "undefined") { %>
                                <a class="center-align voteArrow" href="/post/<%=post.queryName%>/up/post"><i class="small material-icons">arrow_upward</i></a>
                                <h5 class="center-align">
                                    <%= post.score %>
                                </h5>
                                <a class="center-align voteArrow" href="/post/<%=post.queryName%>/down/post"><i class="small material-icons">arrow_downward</i></a>
                                <% }else{ %>
                                <a class="center-align voteArrow <%- user.postsUpVoted.includes(post.queryName) ? "curVoteArrow" : "" %>" href="/post/<%=post.queryName%>/up/post"><i class="small material-icons">arrow_upward</i></a>
                                <h5 class="center-align">
                                    <%= post.score %>
                                </h5>
                                <a class="center-align voteArrow <%- user.postsDownVoted.includes(post.queryName) ? "curVoteArrow" : "" %>" href="/post/<%=post.queryName%>/down/post"><i class="small material-icons">arrow_downward</i></a>
                                <% } %>
                            </div>
                            <div class="col s10 m11">
                                <span class="card-title">
                                    <%= post.title %>
                                </span>
                                <p>
                                    <%= post.text %>
                                </p>
                                <br>
                                <p>Posted by <b>
                                    <%= post.user %></b> on
                                    <%=post.datePosted.getUTCDate()%>/<%=post.datePosted.getUTCMonth() + 1%>/<%=post.datePosted.getUTCFullYear()%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <% if(typeof user != 'undefined' && user.username == post.user) { %>
                        <form class="deleteBtn" action="/post/delete" method="post">
                            <input type="hidden" name="queryName" id="name" value="<%= post.queryName %>">
                            <input class="waves-effect waves-light btn" type="submit" value="Delete">
                        </form>
                        <a class="waves-effect waves-light btn" href="/post/<%=post.queryName%>/edit">Edit</a>
                        <% } %>
                        <% if (post.url.length > 0) { %>
                        <a class="waves-effect waves-light btn" href="<%= post.url %>">Link</a>
                        <% } %>
                    </div>
                </div>

                <!-- Comment Section -->
                <div class="card #f5f5f5 grey lighten-4">
                    <div class="card-content">
                        <% if(typeof user != 'undefined') {%>
                        <form class="input-field" action="/comment/add" method="post">
                            <input type="hidden" name="user" value="<%=user.username%>">
                            <input type="hidden" name="post_id" value="<%=post.id%>">
                            <input type="hidden" name="postQueryName" value="<%=post.queryName%>">
                            <i class="material-icons prefix">mode_edit</i>
                            <input id="comment_add" type="text" name="comment_text" required>
                            <label for="comment_add">Add Comment</label>
                        </form>
                        <% } %>
                        <span class="card-title">Comments: </span>
                        <ul class="collection">
                            <% for (let comment of comments) { %>
                            <li id="<%= comment._id%>" class="collection-item avatar">
                                <i class="material-icons circle teal">comment</i>
                                <%= comment.text %> 
                                <br>
                                Comment by <b><%= comment.user %></b> on <%=post.datePosted.getUTCDate()%>/<%=post.datePosted.getUTCMonth() + 1%>/<%=post.datePosted.getUTCFullYear()%>
                                <br>
                                <% if(typeof user != 'undefined' && user.username == comment.user) { %>
                                    <form style="display:inline;" action="/comment/delete" method="post">
                                        <input type="hidden" name="commentId" id="commentId" value="<%= comment.id %>">
                                        <input type="hidden" name="postQueryName" value="<%= post.queryName %>">
                                        <input type="submit" value="Delete">
                                    </form>
                                    <button onclick="editComment('<%= comment._id %>')">Edit</button>
                                <% } %>
                            </li>
                            <form style="display:none;" id="<%= comment._id %>editForm" action="/comment/edit" method="post">
                                <input type="hidden" name="commentId" value="<%=comment._id%>">
                                <input type="hidden" name="postQueryName" value="<%= post.queryName %>">
                                <input value="<%=comment.text%>" name="editedComment" type="text" class="validate">
                                <label class="active" for="editedComment">Edit Comment</label>
                            </form>
                            <%} %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>