<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./partials/resources'); -%>
</head>
<body>
    <%- include('./partials/header'); -%>
    <div class="container">
        <% if (message.length > 0) { %>
            <script> M.toast({html: '<center> <%= message %> </center>'}) </script>
        <% } %>

    <ul>
    <% for (let post of posts) {%> 
        <li> 
            <h4><a href="/post/<%=post.queryName%>"><%= post.title %></a> (<%= post.score %>)
                <a href="/post/<%=post.queryName%>/up"><i class="small material-icons">arrow_upward</i></a>
                <a href="/post/<%=post.queryName%>/down"><i class="small material-icons">arrow_downward</i></a> </h4>
            <p><%= post.text %>  <br> <i>Posted by: <%= post.user %></i></p>
        </li>
    <% } %>
    </ul>
    </div>
</body>
</html>