<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postin - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./partials/resources'); -%>
</head>
<body>
    <%- include('./partials/header'); -%>
        <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Info:</h4></li>
                    <li class="collection-item">Username: <%=user.username%></li>
                    <li class="collection-item">Registered: <%=user.registrationDate.getUTCDate()%>/<%=user.registrationDate.getUTCMonth() + 1%>/<%=user.registrationDate.getUTCFullYear()%></li>
                    <li class="collection-item">Karma: <%= (posts.length > 1) ? posts.reduce((a, b) => a.score + b.score) : posts[0].score %></li>
                    <li class="collection-item">Number of Posts: <%= posts.length %></li>
                </ul>
            </div>
            <div class="col s12 m6">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Posts:</h4></li>
                    <% for (let post of posts) {%> 
                        <li><a class="collection-item" href="/post/<%=post.queryName%>"><b><%= post.score %></b> <%= post.title %></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>