<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postin - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./partials/resources'); -%>
</head>
<body>
    <%- include('./partials/header'); -%>
        <div class="container">
        <h2>Profile</h2>
        <h3>Info: </h3>
        <p>Username: <b><%=user.username%></b></p>
        <p>Registered: </p>
        <h3>Posts: </h3>
        <ul>
        <% for (let post of posts) {%> 
            <li> 
                <h4><a href="/post/<%=post.queryName%>"><%= post.title %></a> (<%= post.score %>)</a></h4>
                <p><%= post.text %></p>
            </li>
        <% } %>
        </ul>
    </div>
</body>
</html>